body {
    padding: 0;
    margin: 0;
    background: white;
    background-image: url('./assets/img/mainBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;        
}